{% extends 'users/functional/main-layout.html' %}
{% load static %}

{% block stylesheets %}<link href="{% static 'search/search.css' %}" rel="stylesheet">{% endblock %}
{% block script %}<script src="{% static 'search/search.js' %}"></script>{% endblock %}
{% block body %}
    <div id="search-container">
        <input type="text" id="name-input" placeholder="Name">
        <select id="specialization-select">
            <option selected value="">Select specialization</option>
            {% for specialization in specializations %}
                <option value="{{ specialization }}">{{ specialization }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="filters-container">
        <div class="filters-text">Filters</div>
        <div id="filter-buttons">
          <button class="custom-btn gray-filter">Reviews</button>
          <button class="custom-btn gray-filter">Experience</button>
        </div>
        <div class="custom-btn light-red" id="search-button">Search</div>
    </div>

    <div id="doctors"></div>


{% endblock %}