.calendar {
    .calendar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      margin: 20px auto;

      max-width: 500px;

      img.calendar-nav-image {
        width: 30px;
        height: auto;
        cursor: pointer;
      }

      div {
        font-size: 1.5rem;
        background-color: #f4f4f4;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 0 20px;
        flex-grow: 1;
        text-align: center;
      }
    }

    .week {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;

      .cal-day {
        font-size: 1.5rem;

        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        border-radius: 10px;
        margin-bottom: 10px;

        &.active {
          background-color: #e0e0e0;
          cursor: pointer;

          &:hover{
            background-color: darken(#e0e0e0, 5%);
          }
        }

        &.disabled {
          background-color: #f0f0f0;
          color: #aaa;
        }
      }


      @media (max-width: 768px) {
        justify-content: center;

        .cal-day {
          width: 80px;
          height: 80px;
        }

        .cal-day:nth-child(-n+3) {
          margin-bottom: 20px;
        }
      }
    }
  }