html, body {
  height: 100%;
  overflow: auto;
}
@media (min-width: 768px) {
  html, body {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  html, body {
    font-size: 16px;
  }
}

body {
  background-image: url("clinic.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

#messages-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
#messages-container .info {
  margin-bottom: 1rem;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #d1ecf1;
  color: #0c5460;
  border-color: #bee5eb;
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .header {
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .header {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  #welcome-logo {
    width: 500px;
  }
}
@media (max-width: 767px) {
  #welcome-logo {
    width: 100%;
  }
}

.login-info {
  color: #cdcdcd;
}
.login-info a {
  color: #9a9a9a;
  text-decoration: underline;
}

#welcome-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
}

.welcome-page-button {
  flex: 1 1 20%;
  max-width: 20%;
  margin: 0.66rem;
  background-color: #5b5b5f;
  color: #CDCDCD;
  border: 1px solid #5b5b5f;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (max-width: 768px) {
  .welcome-page-button {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
.welcome-page-button:hover {
  background-color: #4a4a4e;
  color: #CDCDCD;
  border-color: #4a4a4e;
}
.welcome-page-button:active {
  background-color: #3a3a3d;
  color: #CDCDCD;
  border-color: #3a3a3d;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.welcome-page-button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(91, 91, 95, 0.25);
}

.form-control {
  margin: 0.66rem;
  background-color: #CDCDCD;
  color: #333;
  border: 1px solid #B3B3B3;
}
.form-control:focus {
  background-color: #E0E0E0;
  border-color: #A1A1A1;
  box-shadow: none;
}
.form-control::placeholder {
  color: #7A7A7A;
}

#login-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
@media (max-width: 767px) {
  #login-buttons-container {
    padding: 0.3rem 1rem;
  }
}

@media (min-width: 768px) {
  .page-body {
    margin-top: 3rem;
  }
  .page-body .welcome-page-button {
    max-width: 300px;
  }
}

h1 {
  color: #CDCDCD;
  text-align: center;
}

/*# sourceMappingURL=welcome-page.css.map */
