{% extends 'users/functional/main-layout.html' %}
{% load static %}
{% block stylesheets %}
<link href="{% static 'functional/profile/profile-assets.css' %}" rel="stylesheet">
<link href="{% static 'functional/calendar/calendar.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
<script src="{% static 'functional/profile/doctor-profile-doc.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="user-info-container">
        <form action="" method="POST" enctype="multipart/form-data" id="profile-picture-form">
            {% csrf_token %}
            <div class="image-container">
                <img id="profile-picture-img" src="/../media/{{ doctor.profile_picture }}" alt="profile picture">
                <div class="overlay">
                    <span>Change profile picture</span>
                </div>
                <input type="file" id="profile-picture" name="profile_picture" accept="image/*">
            </div>
            <input type="submit" class="custom-btn light-red save-button" id="save-picture" value="Change profile picture">
        </form>

        <div class="user-info">
            <h1>Name: {{ doctor.full_name }}</h1>
            <h1>Account type: Doctor</h1>
        </div>
    </div>
    <hr>
    <form id="not-editable-info-form" name="not-editable-info-form">
       <div class="form-group">
        <label for="specializations">Specializations</label>
        <input id="specializations" class="input-field disabled" type="text" value="{{ doctor.specializations }}">
        </div>

        <div class="form-group">
            <label for="started-working">Started working</label>
            <input id="started-working" class="input-field disabled" type="text" value="{{ doctor.started_working }}">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input id="email" class="input-field disabled" type="text" value="{{ doctor.email }}">
        </div>
    </form>
    <p>If you would like to change the certification and/or specializations, provide the documents at the reception</p>
    <hr>
    <form id="editable-info-form" name="editable-info-form">
        <div class="form-group">
            <label for="biography">Biography</label>
            <textarea id="biography" class="input-field">{{ doctor.bio }}</textarea>
        </div>
        <button class="custom-btn light-red save-button" id="save-changes">Save</button>
    </form>

    <hr>

    <div id="availability" class="show">

    </div>
{% endblock %}